<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../static/vendor/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../static/vendor/css/grid.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../static/resources/css/style.css">
    </head>
    
    <body>
        <header>
            <nav>
                <div class="row">
                    <ul class="main-nav">
                        <li><a href="#">Statistics</a></li>
                        <li><a href="#">Top Stories</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="/login">Log in/Sign up</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hero">
                <h1>Speak up<br>Share your Story</h1>
            </div>
        </header>
        
        <section>
            <h2>Top Posts</h2>
            <div class="row">
                <div class="col span-1-of-3 post">
                    <div class="profile-info">
                        <img src="../static/resources/css/img/calvin.jpg" alt="calvin" class="profile-pic">
                        <p class="profile-name">Calvin Johnson</p>
                        <div class="clearfix"></div>
                    </div>
                    <h3>Post 1</h3>
                        <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus nec est a consectetur. Sed sit amet varius ex. Suspendisse potenti. Curabitur sed orci mattis, finibus leo a, rhoncus orci. Nulla tempor at eros vel ullamcorper. Maecenas quam est, accumsan vel nulla in, viverra porttitor sapien. Nunc convallis neque sed quam maximus pulvinar. Sed semper justo in gravida interdum. Aenean ultrices, tellus luctus tincidunt placerat, ipsum quam ultricies purus, a euismod augue eros et justo. Nam libero justo, laoreet a eros id, iaculis pharetra nibh. Integer tempus rutrum fermentum.
                        </p>
                </div>
                <div class="col span-1-of-3 post">
                    <div class="profile-info">
                        <img src="../static/resources/css/img/92.jpg" alt="issa" class="profile-pic">
                        <p class="profile-name">Issa Rae</p>
                        <div class="clearfix"></div>

                    </div>
                    <h3>Post 2</h3>
                        <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus nec est a consectetur. Sed sit amet varius ex. Suspendisse potenti. Curabitur sed orci mattis, finibus leo a, rhoncus orci. Nulla tempor at eros vel ullamcorper. Maecenas quam est, accumsan vel nulla in, viverra porttitor sapien. Nunc convallis neque sed quam maximus pulvinar. Sed semper justo in gravida interdum. Aenean ultrices, tellus luctus tincidunt placerat, ipsum quam ultricies purus, a euismod augue eros et justo. Nam libero justo, laoreet a eros id, iaculis pharetra nibh. Integer tempus rutrum fermentum.
                        </p>
                </div>
                <div class="col span-1-of-3 post">
                    <div class="profile-info">
                        <img src="../static/resources/css/img/lydia.jpg" alt="lydia" class="profile-pic">
                        <p class="profile-name">Lydia Holland</p>
                        <div class="clearfix"></div>
                    </div>
                    <h3>Post 3</h3>
                        <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus nec est a consectetur. Sed sit amet varius ex. Suspendisse potenti. Curabitur sed orci mattis, finibus leo a, rhoncus orci. Nulla tempor at eros vel ullamcorper. Maecenas quam est, accumsan vel nulla in, viverra porttitor sapien. Nunc convallis neque sed quam maximus pulvinar. Sed semper justo in gravida interdum. Aenean ultrices, tellus luctus tincidunt placerat, ipsum quam ultricies purus, a euismod augue eros et justo. Nam libero justo, laoreet a eros id, iaculis pharetra nibh. Integer tempus rutrum fermentum.
                        </p>
                </div>
            </div>
        </section>
    
    </body>

</html>