
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <title> Login </title>
    <link rel="stylesheet" type="text/css" href="../static/vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/vendor/css/grid.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/style.css">
    <meta name=viewport content="width=device-width", initial-scale=1>
     <div class="hero1">
                <h1>Login</h1>
            </div>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6 offset-l3 offset-m2 welcome_login">
                <div class="logo">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class = "login">
     <form action="/login" method="post">

        <div class="section">
            <p>
                <label for="email">Email</label><br>
                <input id="email" name="email" size="40" type="email" value=""><br>
            </p> <br>
            <p>
                <label for="password">Password</label><br>
                <input id="password" name="password" size="40" type="password" value=""><br>
            </p><br>
        </div>
    
    </form>    

</div>
<div id="logins">
            <button class="log" type="submit" value="Login">Login </button>

            <a class="signup" href="/signup">Sign Up</a>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript", src="/static/main.js"></script>
</body>

</html>