<!DOCTYPE html>
<html>
<head>
    <!-- Navigation Bar -->
    
    
    <link rel=stylesheet type=text/css href="/static/style.css">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
    <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel=stylesheet href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<nav class="transparent">
  <div class="nav-wrapper">
    <h1> SpeakOut </h1>
    <ul id="nav-mobile" class="right">
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign up</a></li>
    </ul>
  </div>
</nav>


   
    <!--<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
    <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel=stylesheet href="https://fonts.googleapis.com/icon?family=Material+Icons">-->

    <link rel=stylesheet type=text/css href="stuff.css">
</head>

<body>
    
<!-- Login page -->
<body id="welcome">
    <div class="container white-text welcome_text">
    <div class="row">
      <div class="col welcome_login ">

        <h1>A space where you have a voice, and will be heard</h1>
        <h4>share experiences, stories, cultures, event</h4>

            </div>
        </div>
  <br>
    <div class="row">
      <div class="col s4 left">
        <!-- Promo Content 1 goes here -->
        <img src="">
        <h3>Stats</h3>
      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
        <img src="/static/2.png">
        <h3>Manage Patients<h3>
      </div>
      <div class="col s4 right">
        <!-- Promo Content 3 goes here -->
        <img src="/static/3.png">
        <h3></h3>
      </div>
    </div>
  </div>
</body>

</body>

</html>