<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <title>Map -- SpeakOut</title>
    <link rel="stylesheet" type="text/css" href="../static/vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/vendor/css/grid.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/style.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

</head>

<body>
    <header>
          <nav>
                <div class="row">
                    <ul class="main-nav">
                        <li><a href="/maps">Maps</a></li>
                        <li><a href="/stats">Statistics</a></li>
                        {% if session.logged_in %}
                        <li><a href="/profile">Profile</a></li>
                        {% else %}
                        <li><a href="#">Home</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="hero1">
                <h1>Map</h1>
            </div>
    </header>
    <div id="map"></div>
    <script>

      function initMap() {
        var myLatLng = {lat: 37.8716, lng: 122.2727};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
      });

        var coords = {{coords|tojson}};

        coords.forEach(function(coord){
          new google.maps.Marker({
            position: coord, //add {lat: , lng: } here
            map: map
          //icon: //either happy or mad icons in folder
          });
        });

    }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARO_Ii4y9azyiEPXso0uTcJddUmAPkHSw&callback=initMap">
</script>

</body>
</html>