<!DOCTYPE html>
<html>
    <head>

        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../static/vendor/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../static/vendor/css/grid.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../static/resources/css/style.css">
        <title>Profile -- SpeakOut</title>
    </head>
    
    <body>
        <header>
            <nav>
                <div class="row">
                    <ul class="main-nav">
                        <li><a href="/maps">Maps</a></li>
                        <li><a href="/stats">Statistics</a></li>
                        {% if session.logged_in %}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/post">Post</a></li>
                {% else %}
                <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
            <br>
            <div class="hero1">
                <a href="/login">Profile</a>
            </div>
        </header>
        
        <section>
           <img src="">
           <h4> Isaac Shanley</h4><br>
           <p> Gender: female </p><br>
           <p> Race: white </p><br>
           <p> Industry: government </p><br>
           <p> Sexual Orientation: gay</p><br>
           <p> Posts: </p>

        </section>
    
    </body>

</html>