<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/resources/css/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../static/vendor/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/vendor/css/grid.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
	<title> Sign Up -- SpeakOut</title>
	<div class="hero1">
		<h1>Sign Up</h1>
	</div>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col s12 m8 l6 offset-l3 offset-m2 welcome_login">
				<div class="logo">
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
	<div class = "login">
		<form action="/register" method="post" name="login">

			<div class="section">
				<p>
					<label for="name">Name</label>
					<input id="name" name="name" size="34" type="text" value=""><br>
				</p><br>
				<p>
					<p>

						<label for="gender">Gender</label><br>
						<select id="gender" name='gender'>
							<option value="female">Female</option>
							<option value="male">Male</option>
							<option value="non-binary">Non-binary</option>
							<option value="other">Other</option>
						</select>
					</p><br>
					<p>

						<label for="race">Race</label><br>
						<select id="race" name='race'>
							<option value="black">Black</option>
							<option value="latinx">Latinx</option>
							<option value="asian">Asian</option>
							<option value="indian">Indian</option>
							<option value="white">White</option>
							<option value="other"> Other</option>
						</select><br>
					</p><br>
					<p>

						<label for="industry">Industry</label><br>
						<!--<input id="industry" name="industry" size="40" type="text" value=""><br>-->
						<select id="industry" name="industry">
							<option value="tech">Tech</option>
							<option value="education">Education</option>
							<option value="finance">Finance</option>
							<option value="health">Health</option>
							<option value="government">Government</option>
							<option value="other"> Other</option>
						</select>
						<br><br>

						<label for="email">Email</label>
						<input id="email" name="email" size="40" type="email" value=""><br>
					</p><br>
					<p>
						<label for="password">Password </label>
						<input id="password" name="password" size="40" type="password" value=""><br>
					</p> <br>
					<p>
                    Choose a file to upload: <input name="file" type="file" accept="image/*"/><br />
                    <input type="submit" value="Register" /> 
					</p> <br><br>
				</div>
                
			</form>
		</div>
		
	</body>
	</html>